.modalBox{
height: 100vh;
width: 100vw;
background-color: rgba(0, 0, 0, 0.9);
position: fixed;
z-index: 99999
}

.modalContentBox {
    position: relative;
    margin-left: 400px;
    margin-top: 80px;
    height: 700px;
    width: 550px;
    background-color: rgb(122, 122, 122);
    outline: 2px solid rgb(0, 0, 0);
    border-radius: 12px;
}

.header {
  position: absolute;
  left: 30px;
  right: 30px;
  top: 25px;
  width: 490px;
  height: 40px;
  font-family: Georgia, serif;
  font-size: 30px;
  font-weight: bold;
  box-sizing: border-box;
  color: white;
  margin: 0;
  background-color: rgb(90, 90, 90);
  outline: none;
  resize: none;
}
.description {
  position: absolute;
  left: 30px;
  top: 90px;
  width: 490px;;
  height: 495px;
  font-family: Georgia, serif;
  font-size: 20px;
  color: white;
  line-height:  1.2;
  box-sizing: border-box;
  margin: 0;
  background-color: rgb(90, 90, 90);
  outline: none;
  resize: none;
}

.cancelEditButton {
    position: absolute;
    right: 180px;
    bottom: 30px;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    border: none;
    background-image: url("../../../../public/img/cancel-edit-task-button.png");
    background-color: rgb(90, 90, 90);
    cursor: pointer;
}

.cancelEditButton:hover{
outline: 2px solid rgb(192, 192, 192);
}

.addEditButton {
    position: absolute;
    left: 180px;
    bottom: 30px;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    border: none;
    background-image: url("../../../../public/img/add-edit-task-button.png");
    background-color: rgb(90, 90, 90);
    cursor: pointer;
}

.addEditButton:hover{
outline: 2px solid rgb(192, 192, 192);
}
