.modalBox{
height: 100vh;
width: 100vw;
position: absolute;
z-index: 99999
}

.modalContentBox {
    position: relative;
    margin-left: 730px;
    margin-top: 80px;
    height: 700px;
    width: 550px;
    background-color: rgb(122, 122, 122);
    outline: 2px solid rgb(0, 0, 0);
    border-radius: 12px;
}

.modalContentBox.lightTheme {
background-color: rgb(243, 243, 243);
}

.header{
  font-weight: bold;
  position: absolute;
  left: 30px;
  right: 30px;
  top: 25px;
  width: 490px;
  height: 40px;
  font-family: Georgia, serif;
  font-size: 30px;
  box-sizing: border-box;
  margin: 0;
  background-color: rgb(90, 90, 90);
  color: white;
  outline: none;
  border: none;
  resize: none;
}


.header.error{
    outline: 2px solid red;
}

.header.lightTheme{
   background-color: rgb(200, 200, 200);
    color: black;
}

.header.error.lightTheme{
    background-color: rgb(200, 200, 200);
    color: black;
}


.description{
  position: absolute;
  left: 30px;
  top: 90px;
  width: 490px;
  height: 495px;
  font-family: Georgia, serif;
  font-size: 20px;
  line-height:  1.2;
  box-sizing: border-box;
  margin: 0;
  background-color: rgb(90, 90, 90);
  color: white;
  outline: none;
  resize: none;
  overflow: auto;
  border: none
}

.description::-webkit-scrollbar{
width: 5px;
display: inline;
}

.description::-webkit-scrollbar-track{
background: rgb(90,90,90);

}

.description::-webkit-scrollbar-thumb{
background: rgb(122, 122, 122);
border: 1px solid black
}

.description.error{
outline: 2px solid red;
}

.description.lightTheme{
 background-color: rgb(200, 200, 200);
 color: black;
}

.description.lightTheme::-webkit-scrollbar{
width: 5px;
display: inline;
}

.description.lightTheme::-webkit-scrollbar-track{
background: rgb(200,200,200);

}

.description.lightTheme::-webkit-scrollbar-thumb{
background: rgb(243, 243, 243);
border: 1px solid black
}

.cancelTaskButton {
    position: absolute;
    right: 180px;
    bottom: 30px;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    border: none;
    background-image: url("../../../../public/img/cancel-edit-task-button.png");
    background-color: rgb(90, 90, 90);
    cursor: pointer;
}

.cancelTaskButton:hover{
outline: 2px solid rgb(192, 192, 192);
}

.cancelTaskButton.lightTheme {
    background-image: url("../../../../public/img/cancel-edit-task-button-light.png");
    background-color: rgb(200, 200, 200);
}

.cancelTaskButton.lightTheme:hover {
   outline: 2px solid rgb(85, 85, 85);
}

.addTaskButton {
    position: absolute;
    left: 180px;
    bottom: 30px;
    height: 60px;
    width: 60px;
    border-radius: 30px;
    border: none;
    background-image: url("../../../../public/img/add-edit-task-button.png");
    background-color: rgb(90, 90, 90);
    cursor: pointer;
}

.addTaskButton:hover{
outline: 2px solid rgb(192, 192, 192);
}

.addTaskButton.lightTheme{
background-color: rgb(200, 200, 200);
background-image: url("../../../../public/img/add-edit-task-button-light.png")
}

.addTaskButton.lightTheme:hover{
outline: 2px solid rgb(85, 85, 85);
}

.closeModalButton {
    position: absolute;
    right: 5px;
    top: 5px;
    height: 18px;
    width: 18px;
    border-radius: 12.5px;
    border: none;
    background-image: url("../../../../public/img/close-modal.png");
    cursor: pointer;
}

.headerErrorText{
    position: absolute;
    color: red;
    top: 16px;
    right: 40px;
}

.descriptionErrorText {
    position: absolute;
    color: red;
    top: 85px;
    right: 40px;
}