.tasksBox {
    outline: 2px solid rgb(0, 0, 0);
    border-radius: 12px;
    background-color: rgb(90, 90, 90);
    position: relative;
}

.tasksBox.lightTheme{ 
background-color: rgb(200, 200, 200);
}

.taskElementsBox {
margin-top: 90px;
overflow-y: auto;
height: 485px;
}

.taskElementsBox.searchSettingOff {
margin-top: 45px;
}

.taskElementsBox.sortingOn {
margin-top: 50px;
}

.taskElementsBox.sortingOn.searchSettingOff {
margin-top: 5px;
}



.taskElementsBox::-webkit-scrollbar{
width: 7px;
display: inline;
}

.taskElementsBox::-webkit-scrollbar-track{
background: rgb(90, 90, 90)
}

.taskElementsBox::-webkit-scrollbar-thumb{
background: rgb(122, 122, 122)
}

.noNotesText{
position: absolute;
color: white;
left: 75px;
top: 95px;
}

.noNotesText.lightTheme{
color: rgb(0, 0, 0);
}

.noNotesText.lightTheme.searchSettingOff{
top: 50px;
}

.noNotesText.searchSettingOff{
top: 50px;
}

.addButton {
    background-image: url("../../../public/img/list/add-task-button.png");
    border: none;
    position: absolute;
    background-color: rgb(122, 122, 122);
    height: 60px;
    width: 60px;
    border-radius: 30px;
    bottom: 30px;
    left: 95px;
    cursor: pointer;
}

.addButton:hover {
    outline: 2px solid rgb(192, 192, 192);
}

.addButton.lightTheme{
background-color: rgb(243, 243, 243);
}

.addButton.lightTheme:hover{
outline: 2px solid rgb(85, 85, 85)
}

.allButton {
    background-image: url(../../../public/img/list/radio.png);
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    left: 20px;
    top: 65px;
    cursor: pointer;
}

.allButton.searchSettingOff {
top: 20px;
}

.allButton.lightTheme.searchSettingOff {
top: 20px;
}

.allButton.lightTheme {
background-image: url(../../../public/img/list/radio-light.png)
}

.allButton:hover{
outline: 1px solid rgb(192, 192, 192);
}

.allButton.lightTheme:hover{
outline: 1px solid rgb(85, 85, 85);
}

.allButton.added {
 background-image: url(../../../public/img/list/added-radio.png);
}

.allButton.added.searchSettingOff {
top: 20px
}
.allButton.added.lightTheme {
 background-image: url(../../../public/img/list/added-radio-light.png);
}

.allButton.added.lightTheme.searchSettingOff {
top: 20px
}

.allButtonText {
    position: absolute;
    top: 60px;
    left: 45px;
    margin: 0;
    font-size: 20px;
    color: white
}

.allButtonText.searchSettingOff{
    top: 15px;
}

.allButtonText.lightTheme {
    color: rgb(0, 0, 0)
}

.allButtonText.lightTheme.searchSettingOff {
    top: 15px
}


.favoriteButton {
    background-image: url(../../../public/img/list/radio.png);
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    left: 90px;
    top: 65px;
    cursor: pointer;
}

.favoriteButton.searchSettingOff {
top: 20px
}

.favoriteButton.lightTheme {
background-image: url(../../../public/img/list/radio-light.png)
}

.favoriteButton.lightTheme.searchSettingOff{
top: 20px;
}

.favoriteButton:hover{
outline: 1px solid rgb(192, 192, 192);
}

.favoriteButton.lightTheme:hover{
outline: 1px solid rgb(85, 85, 85);
}

.favoriteButton.added {
 background-image: url(../../../public/img/list/added-radio.png);
}

.favoriteButton.added.searchSettingOff {
top: 20px;
}

.favoriteButton.added.lightTheme {
 background-image: url(../../../public/img/list/added-radio-light.png);
}

.favoriteButton.added.lightTheme.searchSettingOff {
 top: 20px;
}

.favoriteButtonText {
    position: absolute;
    top: 60px;
    left: 115px;
    margin: 0;
    font-size: 20px;
    color: white;
}

.favoriteButtonText.searchSettingOff {
    top: 15px;
}


.favoriteButtonText.lightTheme {
color: black;
}

.favoriteButtonText.lightTheme.searchSettingOff {
top: 15px;
}

.search {
    position: absolute;
    top: 20px;
    height: 25px;
    left: 20px;
    right: 20px;
    border: none;
    outline: none;
    font-family: Georgia, serif;
    font-size: 20px;
    color: white;
    background-color: rgb(122, 122, 122);

}

.search.lightTheme{ 
    color: black;
    background-color: rgb(243, 243, 243);
}

.search::placeholder {
    color: rgb(90, 90, 90)
}

.search.lightTheme::placeholder{ 
    color: black;
    opacity: 0.5;
}