.tasksBox {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 12px;
    background-color: rgb(90, 90, 90);
    position: relative;
}

.taskElementsBox {
margin-top: 105px;
}

.noNotesText{
position: absolute;
color: white;
left: 75px;
top: 95px;
}

.tasksBox button {
    background-image: url("../../../public/img/list/add-task-button.png");
    border: none;
    position: absolute;
    background-color: rgb(122, 122, 122);
    height: 60px;
    width: 60px;
    border-radius: 30px;
    bottom: 30px;
    left: 95px;
    cursor: pointer;
}

.tasksBox button:hover {
    outline: 2px solid rgb(192, 192, 192);
}


.allButton {
    background-image: url(../../../public/img/list/radio.png);
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    left: 20px;
    top: 65px;
    cursor: pointer;
}

.allButton:hover{
outline: 1px solid rgb(192, 192, 192);
}

.allButton.added {
 background-image: url(../../../public/img/list/added-radio.png);
}

.allButtonText {
    position: absolute;
    top: 60px;
    left: 45px;
    margin: 0;
    font-size: 20px;
    color: white
}

.favoriteButton {
    background-image: url(../../../public/img/list/radio.png);
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    left: 90px;
    top: 65px;
    cursor: pointer;
}

.favoriteButton:hover{
outline: 1px solid rgb(192, 192, 192);
}

.favoriteButton.added {
 background-image: url(../../../public/img/list/added-radio.png);
}

.favoriteButtonText {
    position: absolute;
    top: 60px;
    left: 115px;
    margin: 0;
    font-size: 20px;
    color: white;
}

.search {
    position: absolute;
    top: 20px;
    height: 25px;
    left: 20px;
    right: 20px;
    border: none;
    outline: none;
    font-family: Georgia, serif;
    font-size: 20px;
    color: white;
    background-color: rgb(122, 122, 122);

}

.search::placeholder {
    color: rgb(90, 90, 90)
}