.descriptionBox {
    position: relative;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 12px;
    background-color: rgb(122, 122, 122);
}

.descriptionBox.lightTheme{
    background-color: rgb(243, 243, 243);
}

.descriptionText {
position: absolute;
top: 93px;
left: 33px; 
right: 30px;
word-wrap: break-word; 
height: 495px;
overflow-y: auto;
}

.descriptionText::-webkit-scrollbar{
width: 5px;
display: inline;

}

.descriptionText::-webkit-scrollbar-track{
background: rgb(122, 122, 122)
}

.descriptionText::-webkit-scrollbar-thumb{
background: rgb(90, 90, 90);
}


.description {
margin: 0;
font-family: Georgia, serif;
font-size: 20px;
line-height:  1.2;
color: white;
white-space: pre-wrap
}

.headerText{
position: absolute;
overflow: hidden;
width: 370px;
height: 80px;
white-space: pre;
}


.header {
font-weight: bold;
font-family: Georgia, serif;
font-size: 30px;
position: absolute;
top: -7.5px;
left: 32px;
line-height:  1.5;
color: white;
}


.editButton{
position: absolute;
right: 20px;
top: 20px;
background-color: rgb(90, 90, 90);
height: 60px;
width: 60px;
border-radius: 30px;
background-image: url(../../../public/img/edit-task.png);
cursor: pointer;
border: none;
}

.editButton:hover{
   outline: 2px solid rgb(192, 192, 192); 
}

.removeButton {
position: absolute;
right: 30px;
bottom: 30px;
background-color: rgb(90, 90, 90);
height: 60px;
width: 60px;
border-radius: 30px;
background-image: url(../../../public/img/remove-task2.png);
cursor: pointer;
border: none;
}

.removeButton:hover{
   outline: 2px solid rgb(192, 192, 192); 
}

.favoriteButton{
position: absolute;
right: 100px;
top: 20px;
background-color: rgb(90, 90, 90);
height: 60px;
width: 60px;
border-radius: 30px;
background-image: url(../../../public/img/not-pressed-favorites-note-button.png);
cursor: pointer;
border: none;
}

.favoriteButton:hover{
   outline: 2px solid rgb(192, 192, 192); 
}

.favoriteButtonPressed{
position: absolute;
right: 100px;
top: 20px;
background-color: rgb(90, 90, 90);
height: 60px;
width: 60px;
border-radius: 30px;
background-image: url(../../../public/img/pressed-favorites-note-button-added.png);
cursor: pointer;
border: none;
}

.favoriteButtonPressed:hover{
   outline: 2px solid rgb(192, 192, 192); 
}