.taskItem{
    position: relative;
    height: 40px;
    margin-left: 20px;
    width: 205px;
    margin-top: 20px;
    background-color: rgb(122, 122, 122);
    border-radius: 5px;
    cursor: pointer;
}

.taskItem.lightTheme{
    background-color: rgb(243, 243, 243);
}

.textBox {
    position: absolute;
    left: 40px;
    width: 125px;
    height: 40px;
    overflow: hidden;
    white-space: pre;
}



.text{
color: white;
position: absolute;
margin: 0;
top: 7px;
font-family: Georgia, serif;
font-size: 20px;
}

.text.lightTheme {
   color: black;
}

.taskItem:hover{
outline: 2px solid rgb(192, 192, 192);
}

.taskItem.lightTheme:hover{
    outline: 2px solid rgb(0, 0, 0);
}

.active{
  outline: 2px solid rgb(192, 192, 192);
}

.taskItem.active.lightTheme{
    outline: 2px solid rgb(0, 0, 0);
}

.removeTaskButton {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    background-image: url(../../../../public/img/list/remove-task.png)
}

.removeTaskButton:hover{
  background-image: url(../../../../public/img/list/hover-remove-task.png)
}

.favoriteButton{
    left: 10px;
    position: absolute;
    width: 20px;
    height: 30px;
    background-image: url(../../../../public/img/list/pressed-favorites-note-button-added.png)
}


.hidden {
    display: none;
}