.App {

}

.main-content {
padding-left: 100px;
padding-top: 80px;
display: grid;
grid-template-areas:
"list decoration description";
grid-template-rows: 700px;
grid-template-columns: 250px 50px 550px;
}
